@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    border: 0;
    scrollbar-width: 10px;
    scrollbar-color: #ffffff #ffffff00;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-button {
    border-radius: 50%;
    display: none;
}

*::-webkit-scrollbar-track {
    background: #17181a;
}

*::-webkit-scrollbar-corner {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 5px solid #17181a;
    color: #fff;
}

body,
body.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: row;
    background: #17181a;
    transition: 0.2s linear;
    /*overflow-x: hidden;*/
}

.bodysobre,
body.index {
    flex-direction: column;
}

body.cadastro {
    flex-direction: row-reverse;
    gap: 7em;
    justify-content: center;
}

body.cadastro div.img {
    margin-left: -1em;
}

body.dark-mode {
    color: #17181a;
    background-color: #fff;
}

header {
    position: absolute;
    top: 0;
}

.darkthemes {
    position: absolute;
    top: 1em;
    right: 1.7em;
}

.darkthemes .checkbox {
    position: absolute;
    opacity: 0;
}

.darkthemes .checkbox:checked ~ .label .ball {
    transform: translateX(-24px);
    background-color: #fafafa;
}

.darkthemes .checkbox:checked ~ .label {
    background-color: #17181a;
}

.darkthemes .label {
    font-size: 15px;
    background-color: #fafafa;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    transition: 0.2s;
}

.darkthemes .label .lua,
.darkthemes .label .sol {
    margin-bottom: -5px;
    color: #ac70fa;
}

.darkthemes .label .ball {
    position: absolute;
    background: #17181a;
    border-radius: 50%;
    top: 2px;
    right: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0);
    transition: transform 0.2s linear;
}

.info {
    position: absolute;
    display: flex;
    bottom: 60px;
    left: 10px;
    width: 1em;
    height: 1em;
    background-color: transparent;
    color: #fff;
    font-size: xx-large;
    cursor: pointer;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
}

.open {
    display: flex;
}

.close {
    display: none;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 100vh;
        min-width: 100vw;
    }

    .img {
        align-self: flex-start;
        justify-self: flex-start;
        margin-top: 10em;
    }

    .field,
    fieldset.field1 {
        background: transparent;
    }
}

fieldset.field,
fieldset.field1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    flex-direction: column;
    border-radius: 50px;
}

fieldset.field {
    height: 50vh;
    width: 40vw;
}

fieldset.field1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-right: -6em;
    margin-left: -2em;
}

fieldset.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-right: 0em;
    margin-left: 0em;
    scale: 1.1;
}

.img.imglogin .img-dark {
    margin-left: -3em;
    scale: 1.5;
}

.img.imgcontato {
    margin-left: -2em;
}

.img.imgcontato .img-dark {
    margin-top: 5em;
    margin-bottom: 2em;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 10vw;
}

.img img.imagem {
    width: 30vw;
}

.img img.imagem2 {
    width: 40vw;
}

@media screen and (max-width: 600px) {
    .img img.imagem,
    .img img.imagem2 {
        display: flex;
    }
}

fieldset .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

fieldset .login h1,
fieldset .login h1.cadastro {
    display: block;
    font-family: "Poppins";
    font-weight: 500;
    padding: 1em;
    margin-top: -2em;
    margin-bottom: 0.5em;
    color: #fff;
    text-align: center;
}

fieldset .login h1.dark {
    display: block;
    font-family: "Poppins";
    font-weight: 500;
    padding: 1em;
    margin-top: -2em;
    margin-bottom: 0.5em;
    color: #000;
}

fieldset .login h1.cadastro {
    margin-top: -0.5em;
    margin-bottom: 0;
}

fieldset .login div .gap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

fieldset .login div .gap .lado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

@media screen and (max-width: 600px) {
    fieldset .login div .gap .lado {
        flex-direction: column;
    }
}

fieldset p,
fieldset a {
    color: #fff;
    margin-bottom: 1.5em;
}

.botao {
    z-index: 5;
}

.link {
    z-index: 5;
    transform: translateY(20px);
}

.botao button,
.botao input {
    border-radius: 10px;
    width: 275px;
    padding: 7px;
    cursor: pointer;
    color: #17181a;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: large;
    font-weight: 500;
    background: linear-gradient(
        -90deg,
        #03a9f6,
        #f441a5,
        #ffeb3b,
        #00ff55,
        #03a9fa
    );
    background-size: 400%;
    z-index: 5;
}

.botao button:hover,
.botao input:hover {
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 480%;
    }
}

.box-input.crud {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 2.1em;
}

.box-input.crud button {
    z-index: 1;
    cursor: pointer;
}

div.lado.crud {
    flex-direction: row-reverse;
}

.box-input.crud .circle {
    height: 2.1em;
    width: 2.1em;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.box-input.crud .circle.update {
    color: #000;
    background: rgb(255, 183, 0);
}

.box-input.crud .circle.delete {
    color: #000;
    background: rgb(255, 84, 84);
}

.toogle-show.perfil {
    background: transparent;
    color: #000;
}

.box-input.perfil {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2.5em;
    border-bottom: 1px solid #fff;
}

.box-input.perfil span {
    color: #ffffff40;
    display: flex;
    justify-content: flex-start;
    margin-left: -0.5em;
}

.box-input {
    position: relative;
    width: 300px;
}

.box-input.subject {
    position: relative;
    width: 625px;
}

.box-input.subject div {
    display: flex;
    flex-direction: row;
}

.box-input.subject div {
    display: flex;
    flex-direction: row;
}

.box-input.subject div #chkemail {
    width: 15px;
    height: 15px;
}

.box-input input,
.box-input textarea,
.box-input select {
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ffffff40;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.box-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ffffff40;
    border-radius: 10px;
    background: transparent;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
}

.box-input option,
.box-input * option,
.box-input select option {
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ffffff40;
    border-radius: 10px;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 1em;
    transition: 0.5s;
}

.box-input.subject textarea {
    min-height: 5em;
}

.box-input input::-webkit-autofill,
.box-input input::-webkit-autofill:focus,
.box-input select::-webkit-autofill,
.box-input select::-webkit-autofill:focus,
.box-input textarea::-webkit-autofill,
.box-input textarea::-webkit-autofill:focus {
    -webkit-autofill-color: #fff;
    -webkit-box-shadow: 0 0 0 30px #17181a inset;
    border: 1px solid #ffffff40;
    background: #17181a;
    outline: none;
    color: #ffffff;
}

.input-box .toogle,
.input-box .toogle-show {
    background: none;
    border: 0;
    height: 3.5em;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
    font-size: large;
    position: absolute;
    right: 0.75em;
    top: -0.35em;
}

.show,
.valshow {
    display: flex;
}

.hide,
.valhide,
.toogle {
    display: none;
}

input#date::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1) brightness(100%) sepia(100%) saturate(10000%)
        hue-rotate(180deg);
}

.box-input span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff40;
    transition: 0.5s;
}

.box-input input:focus,
.box-input select:focus,
.box-input textarea:focus {
    border: 1px solid #fff;
    transition: 0.5s;
    background-color: transparent;
}

.box-input input::-webkit-autofill {
    background-color: none;
}

.box-input select ~ span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #17181a;
    letter-spacing: 0.2em;
    color: #00ffca;
    border-left: 1px solid #00ffca;
    border-right: 1px solid #00ffca;
}

.box-input input:required:valid,
.box-input select:required:valid,
.box-input input#date:valid,
.box-input textarea:required:valid,
.box-input input::-webkit-autofill:valid {
    border: 1px solid #00ffca;
    color: #fff;
    transition: 0.5s;
    background-color: #17181a;
}

.box-input input:required:not(:placeholder-shown):invalid,
.box-input select:required:not(:placeholder-shown):invalid,
.box-input textarea:required:not(:placeholder-shown):invalid,
.box-input input#date:not(:placeholder-shown):invalid {
    border: 1px solid #c9081b;
    background-color: transparent;
}

.box-input input:required:not(:placeholder-shown):invalid ~ .toogle,
.box-input
    input:-webkit-autofill:required:not(:placeholder-shown):invalid
    ~ .toogle,
.box-input textarea:required:not(:placeholder-shown):invalid ~ .toogle {
    display: block;
    color: #c9081b;
    background-color: transparent;
}

.box-input input:focus ~ span,
.box-input textarea:focus ~ span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #17181a;
    letter-spacing: 0.2em;
    color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.box-input input:required:valid ~ span,
.box-input select:required:valid ~ span,
.box-input textarea:required:valid ~ span,
.box-input input::-webkit-autofill:valid ~ span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #17181a;
    letter-spacing: 0.2em;
    color: #00ffca;
    border-left: 1px solid #00ffca;
    border-right: 1px solid #00ffca;
}

.box-input input#date:valid ~ span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #17181a;
    letter-spacing: 0.2em;
    color: #00ffca;
    border-left: 1px solid #00ffca;
    border-right: 1px solid #00ffca;
}

.box-input input:required:not(:placeholder-shown):invalid ~ span,
.box-input
    input:-webkit-autofill:required:not(:placeholder-shown):invalid
    ~ span,
.box-input textarea:required:not(:placeholder-shown):invalid ~ span,
.box-input input#date:invalid ~ span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #17181a;
    letter-spacing: 0.2em;
    color: #c9081b;
    border-left: 1px solid #c9081b;
    border-right: 1px solid #c9081b;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 10;
}

.preloader.complete {
    z-index: 0;
    visibility: hidden;
    display: none;
}

.preloader::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
    z-index: 10;
}

.preloader.complete::before {
    left: -50%;
    transition: 1s;
}

.preloader::after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
    z-index: 10;
}

.preloader.complete::after {
    right: -50%;
    transition: 1s;
}

.preloader.complete .loader {
    opacity: 0;
    visibility: hidden;
}

.loader {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 3px solid #ffcfcf;
    z-index: 30;
    animation: animateloader 2s linear infinite;
    transition: 1.5s;
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffcfcf;
    animation: animatebg 2s linear infinite;
}

@keyframes animateloader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes animatebg {
    0% {
        height: 0;
    }

    25% {
        height: 0;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0;
    }
}

body.erro404 {
    overflow: hidden;
}

div.erro404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-3em);
}

div.erro404 * button {
    margin-top: 5vh;
    width: 350px;
    padding: 15px;
}

div.erro404 img {
    margin-top: -1vh;
    width: 40vw;
    height: 50vh;
}

div.erro404 label {
    color: #fff;
    font-family: "Poppins";
    font-size: xx-large;
    margin-top: 5vh;
    text-transform: uppercase;
}

.navigation {
    position: relative;
    width: 420px;
    height: 70px;
    background: #fff;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: None;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
}

.navigation ul li a .icon {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #222327;
}

ul li.active a .icon {
    transform: translateY(30px);
}

.navigation ul li a .text {
    position: absolute;
    color: #222323;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-35px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(-20px);
}

.indicator {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #0ff60f;
    bottom: -50%;
    border-radius: 100%;
    border: 6px solid #17181a;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    background-color: transparent;
    box-shadow: 0 10px 0 0 #17181a;
}

.indicator::after {
    content: "";
    position: absolute;
    bottom: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 20px;
    background-color: transparent;
    box-shadow: 0 10px 0 0 #17181a;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

main {
    max-width: 100vw;
    margin: 10%;
    margin-top: 3.5%;
    display: flex;
    flex-flow: column wrap;
    font-weight: 300;
    font-family: "Poppins";
}

.oqSomos {
    display: flex;
}

.oqSomos img {
    margin-left: -5vw;
    padding-right: 5vw;
    max-height: 50vh;
    align-self: center;
}

.oqSomos div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#oq1 {
    font-size: 250%;
    color: #dac4c4;
    text-decoration: underline;
}

#oq2 {
    font-size: 150%;
    color: #fff;
    text-align: justify;
}

.h1Sobre {
    margin-left: 0;
}

.vantagens {
    display: glex;
    flex-direction: column;
    margin-top: 3.5vh;
}

#vtg1 {
    font-size: 250%;
    color: #fac4c4;
    text-decoration: underline;
    margin-bottom: 0.5%;
}

#vtg2 {
    font-size: 154%;
    color: #fff;
    text-align: justify;
}

.ferramentas {
    margin-top: 5vh;
    display: flex;
}

.voltar {
    color: #fff;
    z-index: 6;
    scale: 1.5;
    padding-top: 2em;
    padding-bottom: -2em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-transform: uppercase;
}

.voltar p {
    z-index: 5;
}

.voltar p ion-icon {
    margin-right: 5px;
}

.ferramentas div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ferramentas img {
    margin-left: 10vh;
    max-height: 60vh;
    justify-self: center;
}

#fer1 {
    font-size: 250%;
    color: #fac4c4;
    text-decoration: underline;
}

#fer2 {
    font-size: 150%;
    color: #fff;
    text-align: justify;
}

#qms {
    font-size: 250%;
    color: #fac4c4;
    text-decoration: underline;
    margin-bottom: 5%;
    margin-top: 5%;
}

.qmSomos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.qmSomos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.qmSomos div img {
    border-radius: 10%;
    max-height: 50vh;
    box-shadow: 0px 0px 25px 5px #c6ffc9;
}

.jao {
    max-width: 50vh;
    margin-bottom: 5%;
}

.ian {
    max-width: 50vh;
    margin-bottom: 5%;
    margin-left: 5vh;
}

.juan {
    max-width: 50vh;
    margin-bottom: 5%;
    margin-left: 5vh;
}

#qmJ {
    margin-top: 3vh;
    font-size: 150%;
    color: #c6ffc9;
    margin-bottom: 5%;
    text-align: inherit;
}

#qmI {
    margin-top: 3vh;
    font-size: 150%;
    color: #cdffe4;
    margin-bottom: 5%;
    text-align: inherit;
}

.salvar {
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: #fff;
    font-size: x-large;
}

.div_graficos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
    background: transparent;
}

canvas {
    width: auto;
    max-width: 600px;
    background: transparent;
    z-index: 1;
}

footer {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    transform: translateY(2.5em);
    z-index: 3;
}

div.div_footer {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

div.div_footer footer {
    transform: translateY(3.5em);
    z-index: 3;
}

footer.sobre {
    transform: translateY(-3em);
    position: relative;
    z-index: 3;
}

.footer {
    color: #fff;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    z-index: 3;
}

footer p.copyright {
    font-size: medium;
    position: absolute;
    right: 10px;
    bottom: 30px;
    color: #fff;
}

.input-box {
    position: relative;
    width: 275px;
}

.input-box.subject {
    position: relative;
    width: 570px;
}

.input-box.subject textarea {
    min-height: 7.5em;
    max-height: 15em;
    min-width: 100%;
    max-width: 100%;
}

.input-box input,
.input-box select,
.input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff40;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.input-box option {
    background-color: #17181a;
    border: none;
}

.input-box select,
.input-box input#date {
    border: 1px solid #00dfc4;
}

.input-box input:focus,
.input-box textarea:focus {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #ffffff40;
    text-transform: uppercase;
    transition: 0.5s;
}

.input-box input:focus ~ span,
.input-box textarea:focus ~ span {
    color: #fff;
    transform: translate(10px, -7px);
    font-size: 0.7em;
    padding: 0 10px;
    letter-spacing: 0.3em;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: #17181a;
}

.input-box input#date ~ span,
.input-box select ~ span {
    color: #00dfc4;
    transform: translate(10px, -7px);
    font-size: 0.7em;
    padding: 0 10px;
    letter-spacing: 0.3em;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    background-color: #17181a;
}

.input-box input:required:valid ~ span,
.input-box textarea:required:valid ~ span {
    color: #00dfc4;
    transform: translate(10px, -7px);
    font-size: 0.7em;
    padding: 0 10px;
    letter-spacing: 0.3em;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    background-color: #17181a;
}

.input-box input:required:valid,
.input-box textarea:required:valid {
    border: 1px solid #00dfc4;
}

.input-box input:required:not(:placeholder-shown):invalid {
    border: 1px solid #c9081b;
}

.input-box input:required:not(:placeholder-shown):invalid ~ span {
    color: #c9081b;
    transform: translate(10px, -7px);
    font-size: 0.7em;
    padding: 0 10px;
    letter-spacing: 0.3em;
    border-left: 1px solid #c9081b;
    border-right: 1px solid #c9081b;
    background-color: #17181a;
}

.error {
    color: red;
}

body.index h4 {
    position: absolute;
    text-transform: capitalize;
    scale: 1;
    font-size: xx-large;
    top: 0;
    left: 0.5em;
    color: #fff;
}

.listas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    gap: 3em;
    margin-left: -1em;
}

.listas div {
    margin: auto;
}

.L1 {
    color: #b234fc;
    font-size: large;
}

.L2 {
    color: #ff662e;
    font-size: large;
}

.L3 {
    color: #04bf9d;
    font-size: large;
}

.L4 {
    color: #38a4fc;
    font-size: large;
}

.listas h2 {
    margin-bottom: 15px;
}

h1.embreve {
    color: #fff;
    scale: 2.75;
    rotate: -20deg;
}

p.desc {
    font-size: x-small;
    color: #ffffff40;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 0.1em;
    transform: translateY(1.5px);
}

table {
    color: #fff;
    width: 70vw;
}

table.table {
    width: 20vw;
}

div.tables {
    display: flex;
    flex-direction: column;
}

tr {
    border: 1px solid #fff;
}

table.nao tr {
    border: none;
}

body.adm {
    display: flex;
    flex-direction: column;
}

body.adm button {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: xx-large;
    background-color: transparent;
    color: #fff;
    scale: 1.5;
}

body.adm button * .icon {
    color: #fff;
}

.listas * li {
    text-transform: capitalize;
}

.addLista {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #000;
    cursor: pointer;
    z-index: 100;
    margin-top: 10px;
}

.adcGasto {
    gap: 10px;
}

.adcGasto .lado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.adcGasto input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ffffff40;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
}

.addLista.subir {
    margin-top: 0px;
}

.li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.deletagasto {
    font-weight: 500;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
    z-index: 10;
    background: #ff8aa3;
    color: #f00;
}

/*---------------------------------------------------------------------------*/

.range {
    height: 60px;
    width: 575px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.sliderValue {
    position: relative;
    width: 100%;
}

.sliderValue span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    transform: translateX(-50%) scale(0);
    font-weight: 600;
    top: -40px;
    line-height: 55px;
    z-index: 2;
    color: #17181a;
    text-align: center;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
}

.sliderValue span.show {
    transform: translateX(-70%) scale(1);
}

.sliderValue span:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        270deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 255, 76, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
    z-index: -1;
    left: 50%;
    border: 3px solid #ffffff40;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.fieldSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.fieldSlide .value {
    position: absolute;
    font-size: 18px;
    color: #17181a;
    font-weight: 600;
}

.fieldSlide .value.left {
    left: -22px;
}

.fieldSlide .value.right {
    right: -43px;
}

.range input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #17181a;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
}

.range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        270deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(0, 255, 76, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );

    cursor: pointer;
}

.range input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.range input::-moz-range-progress {
    background: #ffffff;
}

.input-slide span {
    position: absolute;
    left: 0;
    top: -7px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #ffffff5e;
    text-transform: uppercase;
    transition: 0.5s;
    display: flex;
    justify-self: center;
    align-self: center;
}

.h1slide {
    color: #fff;
    font-size: medium;
    text-transform: uppercase;
}

/* --------------------------------------------------------------------------------------------------------------- */

.modal-open {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: 100vh;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -20%);
    transform: translate(0, -20%);
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog-centered {
    display: -webkit-box;
    -webkit-box-align: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    display: flex;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-footer > :not(:first-child) {
    margin-left: 0.25rem;
}

.modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
        min-height: 25vh;
    }

    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }

    .modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn:focus,
.btn:hover {
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    background-image: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info.focus,
.btn-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-warning.focus,
.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger.focus,
.btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-light.focus,
.btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark.focus,
.btn-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark.disabled,
.btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #007bff;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #28a745;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info.focus,
.btn-outline-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #17a2b8;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107;
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-warning.focus,
.btn-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: #ffc107;
    background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light.focus,
.btn-outline-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link.disabled,
.btn-link:disabled {
    color: #6c757d;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

input[type="button"].btn-block,
input[type="reset"].btn-block,
input[type="submit"].btn-block {
    width: 100%;
}

.btnbotao {
    background-color: transparent;
    cursor: pointer;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnbotao.fixo {
    color: #b234fc;
}
.btnbotao.variavel {
    color: #38a4fc;
}
.btnbotao.lazer {
    color: #ff662e;
}
.btnbotao.investimento {
    color: #04bf9d;
}

.btnbotao ion-icon {
    color: #fff;
    font-size: large - 2em;
    transform: translateY(0.2em);
}
/* .btnbotao.variavel ion-icon {
    color: #38a4fc;
}
.btnbotao.lazer ion-icon {
    color: #ff662e;
}
.btnbotao.investimento ion-icon {
    color: #04bf9d;
} */
